.navigation{
     background: rgba(173, 153, 153, 0.849);
     
}

.hassan {
     font-size: 80px;
     color: #fff;
     text-align: center;
     animation: hassan 1s ease-in-out infinite alternate;
   }
   
   @keyframes hassan {
     from {
       text-shadow: 0 0 10px #fff, 0 0 20px rgb(176, 236, 158), 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
     }
     
     to {
       text-shadow: 0 0 20px #fff, 0 0 30px #4dff97, 0 0 40px #4d8bff, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
     }
   }



.home:hover {
     border-bottom: 1px solid red;
}

.home:first-child {
     color: white;
     margin-top: 15%;
}

.home span{
     font-weight: bolder;
      font-size: 2rem; 
     text-align: center;
}

@media (max-width:375px) {
     .home:first-child {
          margin-top: 20%;
     }
}