.home h4{
     text-align: center;
       color: rgb(18 214 221);
         font-size: 5rem;
          font-family: monospace;
}

.home:hover{
     
     border-bottom: 1px solid red;
   
}

@media(max-width: 320px){
.home h4{
     margin-top: 17%;
}
}