.home h4 {
     text-align: center;
     color: rgb(18 214 221);
     font-size: 5rem;
     font-family: monospace;
}



.home:first-child {
     color: white;
     margin-top: 15%;
}

@media (max-width:375px) {
     .home:first-child {
          margin-top: 20%;
     }
}